.git
.vs
.vscode
CClientApp/
ClientApp/dist
CLientApp/node_modules
DemoApi/bin
DemoApi/obj
DocFunctionTests/bin
DocFunctionTests/obj
DemoDocFunction/*.user
DemoDocFunction/bin
DemoDocFunction/obj
PdfBuilder/bin
PdfBuilder/obj
DemoObjects/bin
DemoObjects/obj
packages/
